AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-3
AWS_EMBEDDING_REGION=ap-northeast-1
BEDROCK_MODEL_ID=global.amazon.nova-2-lite-v1:0
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

REDIS_URL=redis://default@127.0.0.1:6379
REDIS_TTL=86400
ENVIRONMENT=development
LOG_LEVEL=INFO

# LangWatch Configuration
LANGWATCH_API_KEY = sk-lw-v2NKjJP1jEDnCt0VH8Q722FGpB0RoWpdBIYzXE1xfxnQ29aN
LANGWATCH_ENDPOINT=https://app.langwatch.ai
LANGWATCH_ENABLED=true

# PAGE INDEX SEARCH
MAX_SEARCH_ITERATIONS=4

# CHAT HISTORY
MAX_LOADED_HISTORY=2